@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NanumBarunGothicLight.eot);
    src: url(/fonts/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
         /*url(/fonts/NanumBarunGothicLight.woff2) format('woff2'),*/
         url(/fonts/NanumBarunGothicLight.woff) format('woff'),
         url(/fonts/NanumBarunGothicLight.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: bold;
    font-weight: 700;
    src: url(/fonts/NanumBarunGothic.eot);
    src: url(/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
         /*url(/fonts/NanumBarunGothic.woff2) format('woff2'),*/
         url(/fonts/NanumBarunGothic.woff) format('woff'),
         url(/fonts/NanumBarunGothic.ttf) format('truetype');
}